/* src/styles/tokens/primitives.css */
:root {
  --cd-color-zinc-50: #fafafa;
  --cd-color-zinc-200: #e4e4e7;
  --cd-color-zinc-500: #71717a;
  --cd-color-zinc-800: #27272a;
  --cd-color-zinc-900: #18181b;
  --cd-color-white: #ffffff;
  --cd-color-red-500: #ef4444;

  --cd-font-size-sm: 14px;
  --cd-font-size-base: 16px;
  --cd-font-size-lg: 24px;
  --cd-font-size-3xl: 30px;

  --cd-line-height-sm: 20px;
  --cd-line-height-base: 24px;
  --cd-line-height-lg: 32px;
  --cd-line-height-3xl: 36px;

  --cd-font-weight-medium: 500;
  --cd-font-weight-semibold: 600;
  --cd-font-weight-bold: 700;

  --cd-spacing-1: 4px;
  --cd-spacing-2: 8px;
  --cd-spacing-3: 12px;
  --cd-spacing-4: 16px;
  --cd-spacing-6: 24px;
  --cd-spacing-8: 32px;
  --cd-spacing-16: 64px;

  --cd-radius-sm: 3px;
  --cd-radius-md: 6px;
  --cd-radius-lg: 8px;

  --cd-sidebar-width: 320px;
  --cd-nav-height: 80px;

  --cd-button-primary-padding-y: 12px;
  --cd-button-primary-padding-x: 16px;
  --cd-button-primary-height: 44px;

  --cd-border-width-default: 1px;
}
